Package: apt-doc
Source: apt
Version: 0.8.16~exp12ubuntu10.16
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 575
Section: doc
Priority: optional
Description: documentation for APT
 This package contains the user guide and offline guide for various
 APT tools which are provided in a html and a text-only version.
Original-Maintainer: APT Development Team <deity@lists.debian.org>
