Package: dbus-1-doc
Source: dbus
Version: 1.4.18-u.1.0.2.1
Architecture: all
Maintainer: SCEL Developers
Installed-Size: 14296
Suggests: libdbus-1-dev
Section: doc
Priority: optional
Homepage: http://dbus.freedesktop.org/
Description: simple interprocess messaging system (documentation)
 D-Bus is a message bus, used for sending messages between applications.
 Conceptually, it fits somewhere in between raw sockets and CORBA in
 terms of complexity.
 .
 This package contains the API documentation for D-Bus, as well as
 the protocol specification.
 .
 See the dbus description for more information about D-Bus in general.
Original-Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
