Package: apt-transport-https
Source: apt
Version: 0.8.16~exp12ubuntu10.16-u.1.0.2.1
Architecture: amd64
Maintainer: SCEL Developer
Installed-Size: 172
Depends: libapt-pkg4.12 (>= 0.8.16~exp12ubuntu10.16-u.1.0.2.1), libc6 (>= 2.14), libcurl3-gnutls (>= 7.22.0-3ubuntu4.3), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.1.1)
Section: admin
Priority: optional
Description: https download transport for APT
 This package enables the usage of 'deb https://foo distro main' lines
 in the /etc/apt/sources.list so that all package managers using the
 libapt-pkg library can access metadata and packages available in sources
 accessible over https (Hypertext Transfer Protocol Secure).
 .
 This transport supports server as well as client authentication
 with certificates.
Original-Maintainer: APT Development Team <deity@lists.debian.org>
